 body,
 html {
     background-color: #D3D3D3;
 }

 /*
.container {
    width: 
    margin: 0 auto;
} */

 .container {
     width: 400px;
 }

 #decoding-board {
     margin: auto;
     background-color: #A9A9A9;
     /* border: black 3px;
    align-items: center;
    align-content: center;
    margin: auto; */
 }

 .column {
     /* display: table-cell; */
     color: #808080;
     /* text-align: center; */
     /* border-radius: 15px;
    width: 30px;
    height: 30px; */
 }

 #covered {
     background-color: aqua;
 }

 /* #pegs-box {
    clear: both;
    width: 300px;
    border-spacing: 10px;
    align-items: center; */

 /* align-content: center; */

 /* margin: auto;

} */

 #A {
     color: red;
 }

 #B {
     color: orange;
 }

 #C {
     color: yellow;
 }

 #D {
     color: green;
 }

 #E {
     color: blue;
 }

 #F {
     color: purple;
 }