 body {
     background-color: #ddd;
 }

 .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

 #preload {
     display: none;
 }

 #decoding-board {
     margin: auto;
     background-color: #bbb;
     border-radius: 24px;
 }

 #hints {
     color: #bbb;
 }

 .column {
     /* display: table-cell; */
     color: #808080;
     /* text-align: center; */
     /* border-radius: 15px;
    width: 30px;
    height: 30px; */
 }

 /* #pegs-box {
    clear: both;
    width: 300px;
    border-spacing: 10px;
    align-items: center; */

 /* align-content: center; */

 /* margin: auto;

} */